<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<servlet>
		<servlet-name>seckill-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/spring-*.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>seckill-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>PhotoController</display-name>
		<servlet-name>PhotoController</servlet-name>
		<servlet-class>com.hph.web.PhotoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoController</servlet-name>
		<url-pattern>/PhotoController</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>LoginJWXTController</display-name>
		<servlet-name>LoginJWXTController</servlet-name>
		<servlet-class>com.hph.web.LoginJWXTController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginJWXTController</servlet-name>
		<url-pattern>/LoginJWXTController</url-pattern>
	</servlet-mapping>
</web-app>